* {
	padding:0;
	margin:0;
}
body {
	font-family:"微软雅黑";
}
li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#000;
}
img {
	display:block;
}
 /* nav start */
#nav {
	display:flex;
	height:57px;
	align-items:center;
	justify-content:space-between;
}
	/* logo start */
#nav .logo {
	display:flex;
	align-items:center;
	margin-left:54px;
	flex-shrink:0;
}
#nav .logo h1 {
	float:right;
	font:normal 21px "黑体";
	margin-left:6px;
}
	/* logo end */

	/* 导航 start */
#nav .nav {
	margin-right:68px;
	flex-shrink:0;
}
#nav .nav li {
	float:left;
}
#nav .nav a {
	font-size:14px;
	margin-right:28px;
	display:flex;
	height:55px;
	align-items:center;
}
#nav .nav a:hover {
	box-sizing:content-box;
	color:#e74f4d;
	border-bottom:2px solid #e74f4d;
}
#nav .nav .active {
	color:#e74f4d;
	border-bottom:2px solid #e74f4d;
}
#nav .nav .none {
	color:#e74f4d;
	margin-right:0;
	padding-left:16px;
	background:url('../images/task_07/header_login.png') no-repeat left center;
}
#nav .nav .none:hover {
	border-bottom:none;
}

	/* 导航 end */


