@media (max-width:640px) {
	.container {
		flex-wrap:wrap;
	}
	.one,.two,.three,.four {
		align-self:flex-start;
		margin-bottom:20px;
	}
	.four {
		order:-1;
	}
}
div {
	border:1px solid #000;
	padding:20px;
	box-sizing:border-box;
}
.container {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.one,.two,.three,.four {
	width:150px;
	border:1px solid #f00;
	height:200px;
	flex-shrink:0;
}
.two {
	height:100px;
}
.three {
	height:40px;
}
.four {
	height:200px;
	border:1px solid #00f;
}
