@charset "utf-8";
* {
	padding:0;
	margin:0;
}
body {
	font-family:"微软雅黑";
}
li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#000;
}
img {
	display:block;
}
input {
	border:none;
	&:focus {
		outline:none;
	}
}

 /* nav start */
	/* logo start */
#nav {
	display:flex;
	height:57px;
	align-items:center;
	justify-content:space-between;	
	.logo {
		display:flex;
		align-items:center;
		margin-left:54px;
		flex-shrink:0;
		h1 {
			float:right;
			font:normal 21px "黑体";
			margin-left:6px;
		}
	}
	/* logo end */

	/* 导航 start */
	.nav {
		margin-right:68px;
		flex-shrink:0;
		li {
			float:left;
		}
		a {
			font-size:14px;
			margin-right:28px;
			display:flex;
			height:55px;
			align-items:center;
			&:hover {
				box-sizing:content-box;
				color:#e74f4d;
				border-bottom:2px solid #e74f4d;
			}
		}
		.active {
			color:#e74f4d;
			border-bottom:2px solid #e74f4d;
		}
		.none {
			color:#e74f4d;
			margin-right:0;
			padding-left:16px;
			background:url('../images/task_07/header_login.png') no-repeat left center;
			&:hover {
				border-bottom:none;
			}
		}
	}
	/* 导航 end */
}
/* nav end */

/* banner start */	
	/* banner_img start */
#banner {
	.banner_img {
		position:relative;
		color:#fff;
		height:691px;
		img {
			margin:0 auto;
		}
		strong {
			display:inline-flex;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.2);
			position:absolute;
			top:0;
			left:0;
		}
		h1 {
			font-weight:normal;
			font-size:60px;
			position:absolute;
			top:220px;
			left:124px;
			width:500px;
		}
		p {
			font-size:21px;
			width:300px;
			position:absolute;
			top:310px;
			left:124px;
			line-height:150%;
		}
		input {
			width:331px;
			background:#e7504d;
			font-size:30px;
			text-align:center;
			line-height:65px;
			color:#fff;
			position:absolute;
			top:428px;
			left:124px;
		}
	}
	/* banner_img end */

	/* banner_icon start */
	.banner_icon {
		height:250px;
		display:flex;
		div {
			width:25%;
			display:flex;
			flex-direction:column;
			align-items:center;
			box-sizing:border-box;
			border-right:1px solid #aaa;
			img {
				margin-top:45px;
			}
			p {
				font-size:14px;
				font-family:"黑体";
				margin-top:50px;
				height:52px;
				color:#767777;
				width:160px;
				text-align:center;
				line-height:1.5;
			}
		}
		.none {
			border-right:none;
		}
	}
	/* banner_icon end */
}
/* banner end */

/* new_world start */
#new_world {
	/* about start */
	.about {
		height:360px;
		background:#ededed;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		h1 {
			font:normal 54px "黑体";
			color:rgba(0,0,0,0.5);
			margin-top:46px;
		}
	}
	/* about end */

	/* map start */
	.map {
		position:relative;
		strong {
			display:inline-block;
			background:#aa3533;
			opacity:0.2;
			position:absolute;
			width:100%;
			height:100%;
		}
		img {
			margin:0 auto;
		}
		.map_top {
			width:100%;
			height:160px;
			position:absolute;
			top:50px;
			color:#000;
			display:flex;
			flex-direction:column;
			align-items:center;
			color:#fff;
			justify-content:space-between;
			h1 {
				font-weight:normal;
				font-size:21px;
			}
			p {
				font-size:12px;
			}
			span {
				display:block;
				width:30px;
				height:4px;
				background:#fff;
			}
			form {
				select {
					width:236px;
					height:36px;
					float:left;
					margin-right:30px;
					&:focus {
						outline:1px solid #be4f48;
					}
				}
				input {
					width:236px;
					height:36px;
					background:#be4e48;
					color:#fff;
					letter-spacing:26px;
					text-align:center;
				}
			}
		}
	}
	/* map end */

	/* activity start */
	.activity {
		height:600px;
		background:#f8f8f8;
		padding:0 145px;
		display:flex;
		justify-content:space-between;
		align-items:center;
		.box {
			margin-bottom:10px;
			img {
				border:10px solid #fff;
			}
			div {
				border:1px solid #cecece;
			}
			h2 {
				font-weight:normal;
				font-size:14px;
				font-family:"黑体";
				text-align:center;
				margin-top:12px;
			}
			p {
				color:#898a8a;
				font-size:12px;
				font-family:"黑体";
				text-align:center;
				margin-top:12px;
			}
		}
		.activity_shanghai {
			h2 {
				margin-top:0;
				letter-spacing:30px;
				text-align:right;
				font-size:20px;
			}
			p {
				margin-bottom:12px;
			}
		}
	}
	/* activity end */
}
/* new_world end */

/* content start */
#content {
	/* content_top start */
	.content_top {
		display:flex;
		flex-wrap:nowrap;
		flex-direction:row;
		.content_top_left {
			position:relative;
			color:#fff;
			div {
				position:absolute;
				top:0;
				width:100%;
				height:100%;
				text-align:center;
				line-height:1;
				display:flex;
				flex-direction:column;
				justify-content:center;
				h1 {
					font-weight:normal;
					font-size:50px;
				}
				h2 {
					font-weight:normal;
					font-size:158px;
				}
				p {
					font-size:22px;
					line-height:150%;
				}
			}
		}
		.content_top_right {
			width:100%;
			border:1px solid red;
			display:flex;
			flex-direction:column;
			align-items:center;
			h1 {
				font-size:20px;
				font-weight:normal;
				margin-top:165px;
				.oblique {
					font-style:oblique;
					color:#7f8080;
				}
				.red {
					color:#e74f4d;
					padding-left:8px;
				}
			}
			p {
				font-size:12px;
				font-family:"宋体";
				color:#aaa;
				line-height:200%;
				margin-top:30px;
				width:300px;
				border:1px slid red;
			}
			input {
				font-size:12px;
				color:#e25c60;
				width:104px;
				line-height:32px;
				border:1px solid #e25c60;
				text-align:center;
				background:#fff;
				margin-top:50px;
			}
			ul {
				width:104px;
				display:flex;
				justify-content:center;
				li {
					height:10px;
					display:inline-block;
					width:10px;
					border-radius:50%;
					box-sizing:border-box;
					border:1px solid #929292;
					margin-top:24px;
					margin-right:14px;
					float:left;
					&:hover {
						background:#929292;
					}
				}	
				.active {
					background:#929292;
				}
				.none {
					margin-right:0;
				}
			}
		}
	}
	/* content_top end */

}



/* content end */
