@charset "utf-8";
* {
	padding:0;
	margin:0;
}
body {
	font-family:"微软雅黑";
}
li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#000;
}
img {
	display:block;
}
input {
	border:none;
	&:focus {
		outline:none;
	}
}

 /* nav start */
	/* logo start */
@mixin flex {
	display:flex;
	align-items:center;
}
@mixin font {
	font:normal 21px "黑体";
}
#nav {
	@include flex;
	height:57px;
	justify-content:space-between;	
	.logo {
		@include flex;
		margin-left:54px;
		flex-shrink:0;
		h1 {
			float:right;
			@include font;
			margin-left:6px;
		}
	}
	/* logo end */

	/* 导航 start */
	.nav {
		margin-right:68px;
		flex-shrink:0;
		li {
			float:left;
		}
		a {
			font-size:14px;
			margin-right:28px;
			height:55px;
			@include flex;
			&:hover {
				box-sizing:content-box;
				color:#e74f4d;
				border-bottom:2px solid #e74f4d;
			}
		}
		.active {
			color:#e74f4d;
			border-bottom:2px solid #e74f4d;
		}
		.none {
			color:#e74f4d;
			margin-right:0;
			padding-left:16px;
			background:url('../images/task_07/header_login.png') no-repeat left center;
			&:hover {
				border-bottom:none;
			}
		}
	}
	/* 导航 end */
}
/* nav end */

/* banner start */	
	/* banner_img start */
#banner {
	.banner_img {
		position:relative;
		color:#fff;
		height:691px;
		img {
			margin:0 auto;
		}
		strong {
			display:inline-flex;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.2);
			position:absolute;
			top:0;
			left:0;
		}
		h1 {
			font-weight:normal;
			font-size:60px;
			position:absolute;
			top:220px;
			left:124px;
			width:500px;
		}
		p {
			width:300px;
			position:absolute;
			top:310px;
			left:124px;
			font:21px/150% "微软雅黑";
		}
		input {
			width:331px;
			background:#e7504d;
			font-size:30px;
			text-align:center;
			line-height:65px;
			color:#fff;
			position:absolute;
			top:428px;
			left:124px;
		}
	}
	/* banner_img end */

	/* banner_icon start */
	.banner_icon {
		height:250px;
		display:flex;
		div {
			width:25%;
			flex-direction:column;
			@include flex;
			box-sizing:border-box;
			border-right:1px solid #aaa;
			img {
				margin-top:45px;
			}
			p {
				font-size:14px;
				font-family:"黑体";
				margin-top:50px;
				height:52px;
				color:#767777;
				width:160px;
				text-align:center;
				line-height:1.5;
			}
		}
		.none {
			border-right:none;
		}
	}
	/* banner_icon end */
}
/* banner end */

/* new_world start*/
#new_world {
	/* about start */
	.about {
		height:360px;
		background:#ededed;
		@include flex;
		flex-direction:column;
		justify-content:center;
		h1 {
			font:normal 54px "黑体";
			color:rgba(0,0,0,0.5);
			margin-top:46px;
		}
	}
	/* about end */

	/* map start */
	.map {
		position:relative;
		strong {
			display:inline-block;
			background:#aa3533;
			opacity:0.2;
			position:absolute;
			width:100%;
			height:100%;
		}
		img {
			margin:0 auto;
		}
		.map_top {
			width:100%;
			height:160px;
			position:absolute;
			top:50px;
			color:#000;
			@include flex;
			flex-direction:column;
			color:#fff;
			justify-content:space-between;
			h1 {
				font-weight:normal;
				font-size:21px;
			}
			p {
				font-size:12px;
			}
			span {
				display:block;
				width:30px;
				height:4px;
				background:#fff;
			}
			form {
				select {
					width:236px;
					height:36px;
					float:left;
					margin-right:30px;
					&:focus {
						outline:1px solid #be4f48;
					}
				}
				input {
					width:236px;
					height:36px;
					background:#be4e48;
					color:#fff;
					letter-spacing:26px;
					text-align:center;
				}
			}
		}
	}
	/* map end */

	/* activity start */
	.activity {
		height:600px;
		background:#f8f8f8;
		padding:0 145px;
		justify-content:space-between;
		@include flex;
		.box {
			margin-bottom:10px;
			img {
				border:10px solid #fff;
			}
			div {
				border:1px solid #cecece;
			}
			h2 {
				font-weight:normal;
				font-size:14px;
				font-family:"黑体";
				text-align:center;
				margin-top:12px;
			}
			p {
				@extend h2;
				color:#898a8a;
				font-size:12px;
			}
		}
		.activity_shanghai {
			h2 {
				margin-top:0;
				letter-spacing:30px;
				text-align:right;
				font-size:20px;
			}
			p {
				margin-bottom:12px;
			}
		}
	}
	/* activity end */
}
/* new_world end */

/* content start */
#content {
	/* content_top start */
	.content_top {
		display:flex;
		.content_top_left {
			position:relative;
			color:#fff;
			div {
				position:absolute;
				top:0;
				width:100%;
				height:100%;
				text-align:center;
				line-height:1;
				display:flex;
				flex-direction:column;
				justify-content:center;
				h1 {
					font-weight:normal;
					font-size:50px;
				}
				h2 {
					font-weight:normal;
					font-size:158px;
				}
				p {
					font-size:22px;
					line-height:150%;
				}
			}
		}
		.content_top_right {
			width:100%;
			@include flex;
			flex-direction:column;
			h1 {
				font-size:20px;
				font-weight:normal;
				margin-top:165px;
				.oblique {
					font-style:oblique;
					color:#7f8080;
				}
				.red {
					color:#e74f4d;
					padding-left:8px;
				}
			}
			p {
				font:12px/200% "宋体";
				color:#aaa;
				margin-top:30px;
				width:300px;
			}
			input {
				font-size:12px;
				color:#e25c60;
				width:104px;
				line-height:32px;
				border:1px solid #e25c60;
				text-align:center;
				background:#fff;
				margin-top:50px;
			}
			ul {
				width:104px;
				display:flex;
				justify-content:center;
				li {
					height:10px;
					display:inline-block;
					width:10px;
					border-radius:50%;
					box-sizing:border-box;
					border:1px solid #929292;
					margin:24px 14px 0 0;
					float:left;
					&:hover {
						background:#929292;
					}
				}	
				.active {
					background:#929292;
				}
				.none {
					margin-right:0;
				}
			}
		}
	}
	/* content_top end */

	/* content_bottom start */
	.content_bottom {
		display:flex;
		.content_bottom_left {
			@include flex;
			flex-direction:column;
			justify-content:center;
			flex-grow:1;
			background:#e7504d;
			p {
				color:#fff;
				font:21px/150% "黑体";
			}
			span {
				display:inline-block;
				width:30px;
				height:2px;
				background:#fff;
				margin:25px 0;
			}
			input {
				width:168px;
				border:1px solid #fff;
				text-align:center;
				line-height:40px;
				@extend p;
				background:none;
			}
		}
		.content_bottom_middle {
			@extend .content_bottom_left;
			background:#fff;
			p {
				color:#000;
			}
			span {
				background:#000;
			}
			input {
				color:#e7504d;
				border:1px solid #e7504d;
			}
		}
		.content_bottom_right {
			width:430px;
			position:relative;
			strong {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(0,0,0,0.4);
			}
		}
	}
	/* content_bottom end */
}
/* content end */

/* volunteer start */
#volunteer {
	height:750px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	.volunteer_top {
		@include flex;
		flex-direction:column;
		margin-top:100px;
		h1 {
			font:normal 21px "黑体";
		}
		span {
			width:30px;
			height:2px;
			display:inline-block;
			background:#ea6663;
			margin:10px 0 14px;
		}
		p {
			font-size:12px;
			color:#aaa;
			width:420px;
			text-align:center;
		}
	}
	.volunteer_bottom {
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		.left {
			width:300px;
			margin:0 70px 0 130px;
			@mixin font {
				font-size:12px;
				font-family:"宋体";
				color:#231815;
				opacity:0.6;
			}
			h2 {
				font:bold 14px "黑体";
				color:#231815;
				opacity:0.8;
			}
			p {
				@include font;
				margin-top:26px;
				line-height:150%;
			}
			span {
				@include font;
				text-align:right;
				display:block;
				margin-bottom:40px;
			}
		}
		.right {
			form {
				input[type="text"] {
					width:310px;
					height:40px;
					background:#ededee;
					color:#231815;
					font:normal 12px "宋体";
					box-sizing:border-box;
					padding-left:16px;
					float:left;
					margin-right:20px;
				}
				.three,.four {
					margin-top:16px;
				}
				textarea {
					width:638px;
					height:120px;
					background:#ededee;
					margin-top:16px;
					border:none;
					font-size:12px;
					font-family:"宋体";
					color:#231815;
					padding:10px 0 0 18px;
					box-sizing:border-box;
				}
				input[type="button"]{
					width:640px;
					color:#323333;
					margin-top:16px;
					font:14px/40px "黑体";
				}
			}
		}
	}
}
/* volunteer end */

/* footer start */
#footer {
	.concat {
		@include flex;
		flex-direction:column;
		justify-content:center;
		height:360px;
		background:#32363e;
		color:#fff;
		h1 {
			font:normal 21px "黑体";
		}
		p {
			font:12px/1.5 "宋体";
			width:470px;
			text-align:center;
			margin:12px 0 32px;
		}
		form {
			input[type="text"]{
				width:430px;
				height:40px;
				font-size:14px;
				padding-left:10px;
				margin-bottom:34px;
			}
			input[type="submit"]{
				width:80px;
				line-height:40px;
				font-size:15px;
				letter-spacing:10px;
				background:#6f7178;
				float:right;
				text-align:center;
				color:#fff;
			}
		}
		div {
			display:flex;
			flex-direction:row;
			img {
				margin-right:28px;
			}
		}
	}
	.footer_bottom {
		font:12px/56px "宋体";
		background:#2f2f38;
		color:#fff;
		padding-left:100px;
	}
}
		

/* footer end */